name: Publish artifacts with ORAS

on:
  push:
    branches:
    - main

permissions:
  contents: read

jobs:
  publish-aa:
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    runs-on: ubuntu-24.04
    env:
      ATTESTER: tpm-attester,tdx-attester,nvidia-attester
      LIBC: gnu
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      RUST_TARGET: x86_64-unknown-linux-gnu
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Log in to the Container registry
      uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: oras-project/setup-oras@22ce207df3b08e061f537244349aac6ae1d214f6 # v1.2.4
      with:
        version: 1.2.0

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        target: ${{ env.RUST_TARGET }}

    - name: Update apt source list
      run: |
        sudo apt-get update

    - name: Install tpm dependencies
      run: |
        sudo apt-get install -y --no-install-recommends libtss2-dev

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Build
      env:
        ARCH: x86_64
      run: |
        make ATTESTER=${{ env.ATTESTER }} ./target/${{ env.RUST_TARGET }}/release/attestation-agent

    - name: Publish with ORAS
      id: publish
      env:
        ARCH: x86_64
        OCI_ARCH: amd64
      run: |
        mkdir oras
        cd oras
        cp ../target/${{ env.RUST_TARGET }}/release/attestation-agent .
        tar cJf attestation-agent.tar.xz attestation-agent
        arch="${ARCH}"
        # After building for target powerpc64le, tag and push the image as ppc64le to match standard arch naming.
        [ "$arch" = "powerpc64le" ] && arch="ppc64le"
        arch_tag="${{ github.sha }}-tee_${arch}"
        image="${REGISTRY}/${IMAGE_NAME}/attestation-agent"
        tag="${{ github.sha }}-tee"
        oras push "${image}:${arch_tag}" attestation-agent.tar.xz
        # We need to create the platform annotations with docker, since oras 1.2 doesn't support
        # pushing with platform yet.
        docker manifest create "${image}:${tag}" --amend "${image}:${arch_tag}"
        docker manifest annotate --arch "$OCI_ARCH" --os linux "${image}:${tag}" "${image}:${arch_tag}"
        docker manifest push "${image}:${tag}"
        # add image and digest to output for attestation
        echo "image=${image}" >> "$GITHUB_OUTPUT"
        digest="$(oras manifest fetch "${image}:${arch_tag}" --descriptor | jq -r .digest)"
        echo "digest=${digest}" >> "$GITHUB_OUTPUT"

    - uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
      with:
        subject-name: ${{ steps.publish.outputs.image }}
        subject-digest: ${{ steps.publish.outputs.digest }}
        push-to-registry: true

  publish-cdh-and-asr:
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    runs-on: ubuntu-24.04
    env:
      RESOURCE_PROVIDER: none
      KMS_PROVIDER: none
      STORAGE: none
      LIBC: gnu
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      RUST_TARGET: x86_64-unknown-linux-gnu
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Log in to the Container registry
      uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: oras-project/setup-oras@22ce207df3b08e061f537244349aac6ae1d214f6 # v1.2.4
      with:
        version: 1.2.0

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        target: ${{ env.RUST_TARGET }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
          libdevmapper-dev libcryptsetup-dev pkg-config

    - name: Build CDH
      env:
        ARCH: x86_64
      run: make ./target/${{ env.RUST_TARGET }}/release/confidential-data-hub

    - name: Build ASR
      env:
        ARCH: x86_64
      run: make ./target/${{ env.RUST_TARGET }}/release/api-server-rest

    - name: Publish CDH + ASR with ORAS
      id: publish
      run: |
        arch="x86_64"
        # After building for target powerpc64le, tag and push the image as ppc64le to match standard arch naming.
        [ "$arch" = "powerpc64le" ] && arch="ppc64le"
        tag="${{ github.sha }}-${arch}"
        mkdir oras
        cd oras
        cp ../target/${{ env.RUST_TARGET }}/release/{confidential-data-hub,api-server-rest} .

        tar cJf confidential-data-hub.tar.xz confidential-data-hub
        image="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/confidential-data-hub"
        oras push "${image}:${tag}" confidential-data-hub.tar.xz
        echo "cdh-image=${image}" >> "$GITHUB_OUTPUT"
        digest="$(oras manifest fetch "${image}:${tag}" --descriptor | jq -r .digest)"
        echo "cdh-digest=${digest}" >> "$GITHUB_OUTPUT"

        tar cJf api-server-rest.tar.xz api-server-rest
        image="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/api-server-rest"
        oras push "${image}:${tag}" api-server-rest.tar.xz
        echo "asr-image=${image}" >> "$GITHUB_OUTPUT"
        digest="$(oras manifest fetch "${image}:${tag}" --descriptor | jq -r .digest)"
        echo "asr-digest=${digest}" >> "$GITHUB_OUTPUT"

    - uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
      with:
        subject-name: ${{ steps.publish.outputs.cdh-image }}
        subject-digest: ${{ steps.publish.outputs.cdh-digest }}
        push-to-registry: true

    - uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
      with:
        subject-name: ${{ steps.publish.outputs.asr-image }}
        subject-digest: ${{ steps.publish.outputs.asr-digest }}
        push-to-registry: true
